#bs-example-navbar-collapse-1, .main {
	background-color: #555;
}
.main {
 	color: #fff;
 	padding: 5px 25px;
 	margin-top: 40px;
}
.main h3 {
 	margin: 20px;
}

@media (max-width: 767px) {
	.main {
		margin-inline: 20px;
	}
}